import java.util.Scanner;

public class Main {
    public static void main(String[] args) {
        Scanner sc = new Scanner(System.in);

        int tentativas = 0;
        int MAX = 3;
        String usuario = "";
        String senha = "";

        while (!usuario.equalsIgnoreCase("sailes")) {

            System.out.println("Digite seu nome de usuario: ");
            usuario = sc.nextLine();

            if (!usuario.equalsIgnoreCase("sailes"))
                System.out.println("nome de usuario incorreto");

        }

        while (!senha.equals("1234") && tentativas < MAX) {
            System.out.println("Digite sua senha: ");
            senha = sc.nextLine();

            if (!senha.equals("1234")) {
                tentativas++;
                System.out.println("senha incorreta. Tentativas restantes " + (MAX - tentativas));

            }

        }
        if (!senha.equals("1234") && tentativas >= MAX) {
            System.out.println("acesso negado");

        } else {
            System.out.println("ok tudo certo");
        }
    }
}
